
node_modules/
**/node_modules/


.cache/
**/.cache/
**/mongodb-memory-server/**
**/mongodb-memory-server/.cache/**


logs/
*.log


.env
.env.local
.env.*.local


dist/
build/


coverage/


.DS_Store
Thumbs.db


.vscode/
.idea/


jest-cache/
jest-coverage/
